*{
    margin: 0;
    padding: 0;
}
.App{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;    
}
.header{
    display: flex;
    justify-content: space-between;
}
.infobox{
    display: flex;
    justify-content: space-between;
}
.leftcon{
    flex: 0.9;
}